@charset "UTF-8";

body {
    background-color: #f3f3f3;
    font-size: 16px;
    color: #444;
}

.column {
    margin: 22px auto;
    padding: 22px;
    padding-bottom: 30px;
    max-width: 1000px;
    background-color: #fff;
    box-shadow: 0px 2px 60px -30px rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 1000px) {
    .column {
        margin: 0 auto;
        max-width: none;
    }
}

div.block {
    margin: 0 0 30px;
}
div.block:last-child {
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

h1 {
    margin-bottom: 6px;
    font-size: 36px;
}

h2 {
    font-size: 17px;
    margin: 0 0 15px;
    font-weight: normal;
}

h3 {
    font-size: 19px;
    margin: 0 0 8px 5px;
    color: #555;
}
h3 span {
    color: #3D9970;
}

button {
    margin: 0 0 30px;
    background-color: #3D9970;
    border: none;
    padding: 10px 15px;
    color: #fff;
    font-weight: normal;
    border-radius: 4px;
    curser: pointer;
}
button:hover,
button:focus {
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

p {
    padding: 10px 15px;
    background-color: #eee;
    border-left: solid 5px #3D9970;
    font-family: monaco, Consolas, 'Lucida Console', monospace;
    font-size: 17px;
}